*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    overflow: hidden;
}

body{
    font-family: sans-serif;
	background-image: url(logo.jpg),url(background.jpg);
	background-color: #2f68ab;
    background-repeat: no-repeat;
	background-position: top 1% left, left bottom;	
    /* 溢出隐藏 */
	overflow: hidden;
	background-size: auto 10%,100% 88%;
    background-attachment: fixed;
    height: 80vh;
    flex: 0;

}
